#side-info-column {
	width: 49%;
}
.inner-sidebar #side-sortables {
	width: 100%;
}
.has-right-sidebar #post-body-content {
	width: 49%;
	margin-right: 390px;
}
.has-right-sidebar #post-body {
	margin-right: -50%;
}
#post-body #normal-sortables {
	width: 100%;
}
.ppc_section {
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: gray;
    padding-left: 10px;
    margin-bottom: 2.2em;
}
.ppc_section .ppc_title {
	font-weight: bold;
	text-align: left;
	margin-bottom: -5px;
	margin-top: 20px;
}
.ppc_section .ppc_content {
    margin-left: 1.5em;
}
.ppc_section .ppc_field_value {
    margin-left: 1.5em;
}
.ppc_section input[type="text"] {
    float: right;
	background-color: #eee;
	margin-right: 2em;
}
.ppc_section select {
    float: right;
	background-color: #eee;
	margin-right: 0.5em;
}
.ppc_section td {
    width: 50%;
}
.ppc_tooltip {
	float: right;
	width: 20px;
	text-align: right;
}
.ppc_save_settings {
    float: right;
    width: 30%;
}
.ppc_save_settings input {
    float: right;
}
.ppc_align_right {
	float: right;
}
.ppc_ajax_loader {
    display: none;
    float: left;
    margin-right: 5px;
}
.ppc_save_success {
    display: none;
    float: left;
    width: 70%;
    padding: 5px;
    background: #BCED91;
    border-style: solid;
    border-width: 1px;
    border-color: #567E3A;
}
.ppc_save_error {
    display: none;
    float: left;
    width: 70%;
    padding: 5px;
    background: #FF6060;
    border-style: solid;
    border-width: 1px;
    border-color: #C12B45;
}
#ppc_personalize_users {
	max-height: 12em;
	overflow: auto;
	display: none;
}
