#ppc_logo {
	margin-right: 0px;
	margin-top: -5px;
	width: 11%;
	padding-left: 30px;
}
#ppc_logo img {
	width: 100px;
}

.ppc_error {
	display: none;
	color: red;
	font-weight: bold;
	float: left;
	width: 70%;
}
.ppc_success {
	display: none;
	color: green;
	font-weight: bold;
	float: left;
	width: 70%;
}
.ppc_ajax_loader {
	display: none;
}
.ppc_table_divider {
	margin-top: 15px;
	height: 1px;
	clear: both;
}
.ppc_hr_divider {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	margin: 5px 0 20px;
	height: 0;
}

@media screen and (max-width: 500px) {
	abbr[title].ppc_payment_column {
	  position: relative;
	  text-decoration: underline dotted;
	}
	abbr[title].ppc_payment_column:hover::after,
	abbr[title].ppc_payment_column:focus::after {
	  content: attr(title);

	  /* position tooltip like the native one */
	  /*position: absolute;
	  left: 0;
	  bottom: -30px;
	  width: auto;
	  white-space: nowrap;*/

	  /* style tooltip */
	  bottom: -30px;
	  background-color: #1e1e1e;
	  color: #fff;
	  border-radius: 3px;
	  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	  font-size: 14px;
	  padding: 3px 5px;
	}
}

.ppc_payment_column {
    border-bottom: 1px dotted;
    color: #000000;
}*/
.ppc_count_column {
    border-bottom: 1px dotted;
}
#ppc_stats_header {
	height: 50px;
}
#ppc_stats_header_datepicker {
	float: left;
	text-align: left;
}
#ppc_stats_header_datepicker h3 {
	margin: 10px 0px 5px;
}
#ppc_stats_header_features {
	float: right;
	text-align: right;
	width: 20%;
	min-width: 30em;
}
#ppc_stats_header_features a {
	font-size: smaller;
}
#ppc_stats_header_links {
    float: right;
	height: 100%;
	border-left: 1px solid;
    border-color: #ccc;
	margin-left: 5%;
	padding-left: 5%;
}
