/**
 *  Deprecated styles. Use ppc- prefixed classes.
 */

.section {
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: gray;
    padding-left: 10px;
    margin-bottom: 2.2em;
}
.section .title {
	font-weight: bold;
	text-align: left;
	margin-bottom: -5px;
	margin-top: 20px;
}
.section .content {
    margin-left: 1.5em;
}
.section .field_value {
    margin-left: 1.5em;
}
.section input[type="text"] {
    float: right;
}
.section td {
    width: 50%;
}
.save_settings {
    float: right;
    width: 30%;
}
.save_settings input {
    float: right;
}
.ajax_loader {
    display: none;
    float: left;
    margin-right: 5px;
}
